*{
    margin: 0 ;
    padding: 0 ;
}
 html, body{
    font-family: 'Times New Roman', Times, serif;
    background-image:linear-gradient( rgba( 0, 0, 0, 0.6 ), rgba(0, 0, 0, 0.5)), url("../assets/italy-1587287_960_720.jpg");
    background-size: cover;
    height: 100vh;
      
}
.Nav{
    background-color: rgb(120, 124, 120);
    color: rgb(154, 159, 177);
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    
}
#btn{
    padding: 20px;
    font-size: 19px;
}
#btn a {
    text-transform: uppercase;
    text-decoration: none;
    color: azure;
    }

#btn a:hover{
    color: burlywood;
} 

#showcase p{
    margin-right: auto;
    margin-left:auto;
    font-size: 25px;
    margin-top:1.5em;
    text-align:center;
    font-weight: bold;
    color: azure; 

}
.myDiary{
   
    margin-left: auto;
    margin-right: auto;
     margin-top: 150px;
    margin-bottom: 20px; 
}
.welcome a{
    display: grid;
    padding: 1%;
    background-color:#546354;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    width: 160px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    margin-bottom: 150px;
    
 
}
.welcome a:hover{
    color: white;
    background-color: rgb(124, 139, 124);
}


 .wraps{
     max-width: 600px; 
    border-radius: 5px;
    margin: auto;
    background: #484b48;
    box-sizing: border-box;
    padding: 40px;
    color: azure;
    margin-top:200px;
    margin-bottom: 10px; 
}
.wraps h2{
    display: flex;
    text-transform: uppercase;
    color: azure;
}

input[type=text],input[type=password], input[type=email]{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0px;
    background: transparent;
    outline:none;
    border: none;
    border-bottom: 1px solid azure;
    color: white;
    margin: 2px;
    font-weight: bold;
}
    .types{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 20px;
    outline:none;
    border: none;
    background: rgb(131, 138, 131);
    opacity: 0.9;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(142, 163, 163);
}
.types a:hover{
    opacity: 0.7;
    color:black;
}
.types a{
    text-decoration: none;
    color: azure;
}
#main{
    
    display: flex; 
   flex-wrap: wrap;
   font-size: 15px;
   padding: 20px;
}
#main a{
   text-decoration: none;
   margin-left:15px;
   color: azure;
   text-transform: uppercase;
}
#main p {
    margin-left:20px;
    color:white;
}

.entry-button{
    height: 38px;
    background: grey;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px; 
    color:#fff;
    margin:5px;
    margin-left:250px; 
    text-transform:uppercase;
    border-radius:10px;
       

}
.entry-button a{
text-decoration: none;
color: white;
}
.entry-button a:hover{
    color:rgb(7, 59, 80);
}
.yourEntry {
    display: grid;
     margin-top: 30px; 
     width:640px;
     flex-wrap:wrap; 
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);   
   
}
.yourEntries p{
    margin-left:20px;
    color:azure;
    font-size: 20px;
    margin-bottom: 20px;

}
.yourEntries #time{
    padding: 3px;
    font-size: 20px;
    margin-left: 30px;  
    color: rgb(7, 59, 80);
}

.entriesButton{
    height: 38px;
    background: grey;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px; 
    color:#fff;
    margin:5px; 
    text-transform:uppercase;
    text-align: center;
    border-radius:10px;
    box-sizing:5px;
    margin-bottom: 80px;
    
}

.entriesButton a{
text-decoration: none;
color: white;
}
.entriesButton a:hover{
    color:rgb(7, 59, 80);
}
.entries-Button{
    height: 38px;
    background: grey;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px; 
    color:#fff;
    margin:5px; 
    text-transform:uppercase;
    text-align: center;
    border-radius:10px;
    box-sizing:5px;
    margin-left: 200px;
    margin-bottom: 80px;
    
}

.entries-Button a{
text-decoration: none;
color: white;
}
.entries-Button a:hover{
    color: rgb(7, 59, 80);
}
.entry-buttons{
    height: 38px;
    background: grey;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px; 
    color:#fff;
    margin:5px; 
    text-transform:uppercase;
    text-align: center;
    border-radius:10px;
    box-sizing:5px;
    margin-left: 200px;
    margin-bottom: 80px;   
}

.entry-buttons a{
    text-decoration: none;
color: white;
}
 .footer{
        background-color:rgb(10, 10, 10);
        padding: 20px;
        color:azure;
        position: absolute;
        width: 100%;
       bottom:-95px;
        height: 1vh;
        font-size: 15px;
        text-align: center;  
         margin-top: 250px;
    } 



 